@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/* 共通部分
----------------------------------------------*/

body{
  font-family: 'Open Sans';
  line-height: 1.7;
  color:white;
  height:100%;
  width:100%;
  padding:0;
  margin:0;
  overflow: scroll;
}

a{
  text-decoration: none;
  color:white;
}
img{
  width:100%;
  height: 100%;
  min-height: 100%;

}
 /* header
 ----------------------------------------------*/
 .logo{
  width: 150px;
  height: 50px;
  margin-top: 14px;
 }

 .main-nav{
   display: flex;
   font-size: 1,25rem;
   text-transform: uppercase;
   margin-top: 34px;
   list-style: none;
 }
 .main-nav li {
   margin-left:36px;

 }
 .main-nav a{
   color:#fff;

 }
 .main-nav a:hover{
   color:#808080;
 }
 .page-header {
   display:flex;
   justify-content: space-between;
 }
 .wrapper{
   max-width: 1100px;
   margin:0 auto;
   padding:0 4%;
 }
 /* home
 ----------------------------------------------*/

 .home-content{

  margin-top: 70px;
  color: white;
  text-align: center;

}
.home-content p{
  font-size: 1.5rem;
  padding-bottom: 20px;
}

 /*見出し*/
.page-title{
   font-size: 2.5rem;
   text-transform: uppercase;
   font-weight: normal;
   margin-bottom: 0 0 40px 0;
   text-align: center;
   color:#fff;
 }
 .margin-bottom{
   padding-bottom:40px;
   text-align: center;


 }

 /*ボタン */
 .button{
   font-size: 1.375rem;
   background: #b0941e;
   color:#fff;
   border-radius: 5px;
   padding:10px 32px;
   margin-top:  40px ;
 }
 .button:hover{
   background: #404040;
   margin-top: 40px ;
 }
 .big-bg{
   background-size:cover;
   background-position: center top;
   background-repeat: no-repeat;
  }
#home {
  background-image: url(../img/bg4.jpg);
  min-height: 100vh;

}
#home .page-title{
  text-transform: none;
}
.hover a {
  color: #white;
}
.hover a:hover{
  color: #808080;
}
/* news
-------------------------------------------------*/
#news {
  background-image: url(../img/bg4.jpg);
  height:270px;
  margin-bottom: 40px;

}
#news .news-title {
  text-align: center;
  color: white;
  font-size:5rem;
}
article{
  width:74%;
}
aside{
  width:22%;
}
.news-contents{
  display: flex;
  justify-content: space-between;
  margin-top:80px;
  color: black;
}
.post-info{
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
  padding-left: 0;
  padding-right:40px;
}


.post-title{
  font-size: 2rem;
  font-weight: normal;
}
.post-date{

}
.post-title,
.post-cat{
  margin-left: 120px;
}
.wrappers{
  position: relative;


  position: relative;
  padding-bottom: 25px;

}
article{
  margin-bottom:20px;
  overflow: scroll;
}
article img{
  margin-bottom: 20px;

}
article p{
  margin-bottom:1rem;
}
.subtitle{
  font-size: 1.375rem;
  padding:0 8px 8px;
  border-bottom: 2px #0bd solid;
  font-weight:normal;
}
aside p{
  padding:12px 10px;
}
.sub-menu{
  margin-bottom: 60px;
  list-style: none;

}
.sub-menu li{
  border-bottom:1px #ddd solid;

}
.black a {
  color: black;
  padding:10px;
  display:block;
}
.sub-menu a:hover{
  color:#432;
}

footer{
  background: #432;
  width: 100%;
  text-align: center;
  padding:30px 0;
  position:absolute;





}

footer .p{
  color: #fff;
  font-size: 2rem;

}
/*-----Menu-------*/
body{
  height:100%
}

#menu{
  background-image:url(../img/menu.jpg);
}
.menu-content{
  max-width: 560px;
  margin-top: 10%;
}
.menu-content .menu-title{
  text-align: center;

}
.menu-title{
  padding-bottom: 50px;
}
.menu-content p{
  font-size: 1.125rem;
  margin: 0 0  30px 0;
}
.grid{
  display:grid;
  gap:26px;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}
/*CONTACT
----------------------------------*/
#contact{
  background-image:url(../img/contact.jpg);
  min-height: 100vh;
}
/*　フォーム
------------------------------*/
form div{
  margin-bottom: 14px;

}
label{
  font-size: 1.125rem;
  margin-bottom: 10px;
  display:block;

}
input[type="text"],
input[type="email"],
textarea{
  background: rgba(255,255,255,.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding:10px;
  font-size: 1rem;
}
input[type="text"],
input[type="email"]{
  width:100%;
  max-width: 240px;
}
textarea{
  width:100%;
  max-width: 480px;
  height: 6rem;

}
input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
}











/* モバイル版　
--------------------------------*/
@media(max-width:600px){
  .page-title{
    font-size: 2.5rem;
  }
  .news-title{
    font-size:2rem;
  }



  /* Header */
  .main-nav{
    font-size: 1rem;
    margin-top: 10px;

  }
  .main-nav li{
    margin: 0 0 0 20px;
  }

  /* Home */
  .home-content{
    margin-top: 20%;
  }
  .page-header{
    flex-direction: column;
    align-items: center;
  }
/* News */
  .news-contents{
    flex-direction: column;
  }
  article{
    width:100%;
  }
  aside{
    width:100%;
  }
  #news .news-title{
    margin-top: 30px;
    font-size: 2.5rem;
  }

  .post-info{
    margin-bottom: 30px;

  }
  .post-date{
    width:70px;
    height:70px;
    font-size: 1rem;
  }
  .post-data span{
    font-size: 0.875rem;
    padding-top: 2px;
  }

  .post-title{
    font-size:1.375rem;
  }
  .post-cat{
    font-size: 0.875rem;
    margin-top: 10px;
  }
  .news-title,
  .post-cat{

  }
  /* contact */
  #contact .page-title{
    margin-top:40px;
  }
  /*フォーム*/
  input[type="text"],
  input[type="email"],
  textarea{
    max-width:100%;
  }


}
